.footer {
  bottom: 2%;
  left: 37vw;
  font-size: 15px;
  font-family: "Roboto Mono", sans-serif;
  .img-linkedin {
    width: 50px;
    margin: 20px;
  }
  .img-github {
    width: 50px;
    margin: 20px;
  }
  .built {
    margin-left: 30rem;
  }
}
